* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	overflow: hidden;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}

.footer {
	background-color: #FFFFFF;
	height: 60px;
}

.footer p {
	color: #FFFFFF;
	margin: 15px;
}

.push {
    height: 50px; /* .push must be the same height as .footer */
}

.btn-group {
	margin-top: 25px;
}

#logo {
	margin-left: 5%;
	display: inline-block;
	float: left;
	padding: 10px;
}

#connection-status {
	float: right;
	color: #FFF;
	margin-top: 25px;
	margin-right: 20px;
	font-weight: bold;
}

#connection-status{
	float: right;
	color: #FFF;
	margin-top: 25px;
	margin-right: 20px;
	font-weight: bold;
}
#connection-view {
	margin-top: 5px;
}