* {
	margin: 0;
}

html, body {
	height: 100%;
	overflow: hidden;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}

.log-footer {
	height: 40px;
	position: fixed;
    left: 0px;
    right: 0px;
	bottom: 57px;
	color: #fff;
	text-align: center;
	background-color: #333;
	border: 1px solid #000;
    border-radius: 5px 5px 0 0;
	z-index: 999;
    font-family: arial;
    padding: 10px 0;
	display: table;
	width: 100%;
}

.log-footer #logger-view span {
	z-index: -1;
}

.footer-closed #logger-view > span:not(:first-child){
	display: none;
}

.footer-closed #logger-view-filters {
	display: none;
}

#logger-view {
	display: table-footer-group;
}

#logger-view-filters {
	display: table-header-group;
}

.filter-button {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}

.log-severity-critical {
	color: red;
}

.log-severity-warning {
	color: yellow;
}

.push {
    height: 50px; /* .push must be the same height as .footer */
}

.btn-group {
	margin-top: 25px;
}

#copyright p {
	margin-top: 25px;
}

#logo {
	margin-left: 5%;
	display: inline-block;
	float: left;
	padding: 10px;
}

#connection-status {
	float: right;
	color: #FFF;
	margin-top: 25px;
	margin-right: 20px;
	font-weight: bold;
}

#connection-status{
	float: right;
	color: #FFF;
	margin-top: 25px;
	margin-right: 20px;
	font-weight: bold;
}
#connection-view {
	margin-top: 5px;
}

#filter-wrapper{
    overflow:auto;
    border-right: 1px solid black;
    height:85%;
}

#console-wrapper {
    height:70%;
    overflow:auto;
    border-bottom: 1px solid black;
}

#console-wrapper *{
    font-size:11px !important; 
}

#input-wrapper {

}

.console-date-field{
    width:150px;
}

#input-field{
    width:100%;
}

.navbar-select {
	padding: 22px 5px 0px 5px;
}

.navbar-brand {
	padding: 22px 5px 0px 5px;
}

.navbar-nav > li > a {
    padding: 24px 10px;
    margin-left: 8px;
}


#context-menu {
	background-color: #FFFFFF;
	width: 170px;
	padding: 0px;
	border: 1px;
	cursor: pointer;
	border-left: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #676767;
	border-bottom: 1px solid #676767;
	text-decoration: none;
}

.context-menu-item {
	font-family: arial,helvetica,sans-serif;
	font-size: 12px;
	text-align: left;
	line-height: 30px;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	padding: 3px 5px 3px 5px;
	background-repeat: no-repeat;
	background-position: 4px center;
}

.context-menu-hover {
	background-color:#d6e9f8;
}

.connection-state-connected {
	color: green;
}

.connection-state-disconnected {
	color: red;
}
