* {
	margin: 0;
}

html, body {
	height: 100%;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}

#copyright p {
	padding-top: 15px;
	text-align: center;
	color: #FFFFFF;
}

#debug {
	margin:5px;
}

input[type=checkbox] {
    display:none;
}
 
input[type=checkbox] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    margin-bottom: 10px;
    margin-left:3px;
    margin-right:3px;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    outline-color: #000000;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #888888;
    border-color: ;
    background-repeat: repeat-x;
    border: 1px solid #888888;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

input[id='warning'] + label {
    padding: 4px 7px;
}
 
input[id='debug']:checked + label {
       background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
        background-color:#428BCA;
        border-color:#3071A9;
}

input[id='warning']:checked + label {
       background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
        background-color:#F0AD4E;
        border-color: #EC971F;
}

input[id='critical']:checked + label {
       background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
        background-color:#D9534F;
        border-color: #C9302C;
}

#log-footer {
	position: fixed;
    left: 0px;
    right: 0px;
	bottom: 45px;
	color: #fff;
	text-align: center;
	background-color: #333;
	border: 1px solid #000;
    border-radius: 5px 5px 0 0;
	z-index: 999;
    font-family: arial;
    padding: 10px 0;
	width: 100%;
	max-height: 450px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(180,180,180,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(180,180,180,0.5); 
}


#log-footer #logger-view span {
	z-index: -1;
}

.footer-closed #logger-view > span:not(:first-child){
	display: none;
}

.footer-closed #logger-view-filters {
	display: none;
}

.log-message {
	padding-left: 10px;
}

#logger-view {
	max-height: 430px;
	text-align: left;
}

#column1 {
	padding-left: 10px;
	float:left; 
	margin:0; 
	width:100px;
}

#column2 {
	float:left; 
	margin-left:0px; 
	width:85%;
}

#logger-view-filters ul {
	display: table-header-group;
	list-style-type: none;
}


.filter-button {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}

.log-severity-critical {
	color: red;
}

.log-severity-warning {
	color: yellow;
}

.push {
    height: 50px; /* .push must be the same height as .footer */
}

.btn-group {
	margin-top: 25px;
}

#logo {
	margin-left: 5%;
	display: inline-block;
	float: left;
	padding: 10px;
}

#connection-status {
	float: right;
	color: #FFF;
	margin-top: 25px;
	margin-right: 20px;
	font-weight: bold;
}

#connection-status{
	float: right;
	color: #FFF;
	margin-top: 25px;
	margin-right: 20px;
	font-weight: bold;
}

#connection-view {
	margin-top: 5px;
}

.navbar-select {
	padding: 22px 5px 0px 5px;
}

.navbar-brand {
	padding: 22px 5px 0px 5px;
}

.navbar-nav > li > a {
    padding: 24px 10px;
    margin-left: 8px;
}

#footer-navbar {
	position: absolute;
	bottom: 0;
	height: 35px;
	width: 100%;
	margin: 0;
}

.connection-state-connected {
	color: green;
}

.connection-state-disconnected {
	color: red;
}
